# SQL Project
You were hired by Ironhack to perform an Analytics Consulting Project entitled: competitive landscape.

Your mission is to create and populate an appropriate database with many coding schools that are our competition, as well as design an suitable queries that answer business questions of interest (to be defined by you)

**Suggested Steps in the Project:**


*   Read this notebook and understand each function. Comment the code appropriately

*   Populate the list of schools with a wider variety of schools (how are you going to get the school ID?)

* Take a look at the obtained dataframes. What dimensions do you have? what keys do you have? how could the different dataframes be connected?

* Go back to the drawing board and try to create an entity relationship diagram for tables available

* Once you have the schemas you want, you will need to:
  - create the suitable SQL queries to create the tables and populate them
  - run these queries using the appropriate Python connectors
  
* Bonus: How will this datamodel be updated in the future? Please write auxiliary functions that test the database for data quality issues. For example: how could you make sure you only include the most recent comments when you re-run the script?


# Suggested Deliverables

* 5-6 minute presentation of data model created, decision process and business analysis proposed

* exported .sql file with the final schema

* Supporting python files used to generate all logic

* High level documentation explaining tables designed and focusing on update methods

Crucial hint: check out the following tutorial:
https://www.dataquest.io/blog/sql-insert-tutorial/

In [1]:
# you must populate this dict with the schools required -> try talking to the teaching team about this

# include any additonal schools necessary 
schools = {   
'ironhack' : 10828,
'app-academy' : 10525,
'springboard' : 11035    
}

# libraries
import re
import pandas as pd
from pandas.io.json import json_normalize
import requests
from datetime import datetime
from datetime import timedelta
import sqlalchemy 


# scrapes the comments of a given school (name is provided as parameter) and returns them as a dataframe
def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])
  
    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [2]:
# get comments for all scools in schools dictionary
# could you write this as a list comprehension? ;)
comments = []

for school in schools.keys():
    print(school)
    comments.append(get_comments_school(school))

# converts the result into a pandas dataframe
comments = pd.concat(comments)
comments.head()

ironhack
app-academy
springboard

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,createdAt,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school
0,269512,Anonymous,True,None,2019.0,False,Full stack developer,"Great qualified teachers but unorganized, not ...","<span class=""truncatable""><p></p><p>I attended...",10/20/2020,2020-10-20,,{'image': None},2.7,[],3.0,4.0,1.0,I attended the Berlin bootcamp and the biggest...,ironhack
1,269343,Felipe,False,None,2020.0,False,Unemployed,"UX UI Iron Hack Sao Paulo, be careful before y...","<span class=""truncatable""><p>(Por favor copie ...",10/13/2020,2020-10-13,UX/UI Design Bootcamp,{'image': None},3.3,[],2.0,5.0,3.0,(Por favor copie e cole no google tradutor se ...,ironhack
2,269201,Ozzie Zamora,False,None,2020.0,False,UI Designer,UX/UI Design Part-Time | Miami,"<span class=""truncatable""><p>A truly amazing e...",10/7/2020,2020-10-07,UX/UI Design Part-Time,{'image': None},5.0,[],5.0,5.0,5.0,"A truly amazing experience, to be honest. I wa...",ironhack
3,269141,Sacha Dollé,False,None,2020.0,False,Data Analyst,"Great bootcamp, great team, great learning","<span class=""truncatable""><p>I use to work in ...",10/6/2020,2020-10-06,Data Analytics Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,I use to work in advertisement and decided to ...,ironhack
4,269133,Calypso Redor,False,None,2020.0,False,Product Designer,Une superbe expérience,"<span class=""truncatable""><p></p><p>« On m’ava...",10/6/2020,2020-10-06,,{'image': None},5.0,[],5.0,5.0,5.0,« On m’avait prévenu de ce que voulait dire « ...,ironhack

In [3]:
# Converts strings in createdAt and queryDate to timestamp 
comments['createdAt'] = [datetime.strptime(element, '%m/%d/%Y') for element in comments['createdAt']]
comments['queryDate'] = [datetime.strptime(element, '%Y-%m-%d') for element in comments['queryDate']]
comments['overall'] = [float(element) for element in comments['overall']]
comments['curriculum'] = [float(element) for element in comments['curriculum']]
comments['jobSupport'] = [float(element) for element in comments['jobSupport']]
#comments['graduationYear'] = [type(element), '%G') for element in comments['queryDate']]
#comments.iloc[1,4]

In [4]:
type(comments.iloc[1,4])

numpy.float64

In [5]:
#comments.user.unique()
# Removes columns without data or that have redundant data
del comments['body'] # another comulmn (review_body) has the same content, without the html tags
comments

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,createdAt,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school
0,269512,Anonymous,True,None,2019.0,False,Full stack developer,"Great qualified teachers but unorganized, not ...",2020-10-20,2020-10-20,,{'image': None},2.7,[],3.0,4.0,1.0,I attended the Berlin bootcamp and the biggest...,ironhack
1,269343,Felipe,False,None,2020.0,False,Unemployed,"UX UI Iron Hack Sao Paulo, be careful before y...",2020-10-13,2020-10-13,UX/UI Design Bootcamp,{'image': None},3.3,[],2.0,5.0,3.0,(Por favor copie e cole no google tradutor se ...,ironhack
2,269201,Ozzie Zamora,False,None,2020.0,False,UI Designer,UX/UI Design Part-Time | Miami,2020-10-07,2020-10-07,UX/UI Design Part-Time,{'image': None},5.0,[],5.0,5.0,5.0,"A truly amazing experience, to be honest. I wa...",ironhack
3,269141,Sacha Dollé,False,None,2020.0,False,Data Analyst,"Great bootcamp, great team, great learning",2020-10-06,2020-10-06,Data Analytics Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,I use to work in advertisement and decided to ...,ironhack
4,269133,Calypso Redor,False,None,2020.0,False,Product Designer,Une superbe expérience,2020-10-06,2020-10-06,,{'image': None},5.0,[],5.0,5.0,5.0,« On m’avait prévenu de ce que voulait dire « ...,ironhack
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693,234894,Stephanie S.,False,None,2015.0,True,Website Manager-UX Lead,Excellent and comprehensive UX course,2016-12-15,2016-12-15,UX Design,{'image': None},5.0,[],5.0,5.0,5.0,The UX Design Workshop gave me a great underst...,springboard
694,234877,Joe Fang,False,None,2015.0,True,UX Designer,Springboard helped me start my career in UX,2016-12-15,2016-12-15,UX Design,{'image': None},5.0,[],5.0,5.0,5.0,"Just some background information on myself, I ...",springboard
695,234838,Zeina,False,None,2016.0,True,Senior Graphic Designer,Highly recommended,2016-12-15,2016-12-15,UX Design,{'image': None},3.7,[],4.0,4.0,3.0,"I enjoyed the program very much, gained a lot ...",springboard
696,242681,Jean,False,None,2016.0,True,Lead Designer/Creative Director,A way to stay current for the highly motivated!,2016-12-12,2016-12-12,UX Design,{'image': None},5.0,[],5.0,5.0,5.0,This was my first online experience and it did...,springboard
697,234178,Ben,False,None,2016.0,True,None,Springboard is an excellent course for self dr...,2016-12-10,2016-12-10,UX Design,{'image': None},4.7,[],5.0,5.0,4.0,I really enjoyed my time with the Springboard ...,springboard

In [6]:
#con =[]
#for line in comments['comments']:
#    if line not in con:
#        con.append(line)
del comments['comments'] # most cases are empty
del comments['user'] # we are not interested in pictures
#con
#print(comments[comments["name"]=="Joe Fang"])

In [7]:
from pandas.io.json import json_normalize

# returns dataframes for the location, courses, badges and school for a given school name and id given as parameter
def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

# gets school info for every school in the schools dictionary
for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)
    
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

school

ironhack

<ipython-input-7-a21593ea3efb>:15: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  locations_df = json_normalize(locations)

app-academy
springboard

'springboard'

In [8]:
# shows the location list
locations_list

[      id               description  country.id   country.name country.abbrev  \
 0  15901           Berlin, Germany        57.0        Germany             DE
 1  16022       Mexico City, Mexico        29.0         Mexico             MX
 2  16086    Amsterdam, Netherlands        59.0    Netherlands             NL
 3  16088         Sao Paulo, Brazil        42.0         Brazil             BR
 4  16109             Paris, France        38.0         France             FR
 5  16375  Miami, FL, United States         1.0  United States             US
 6  16376             Madrid, Spain        12.0          Spain             ES
 7  16377          Barcelona, Spain        12.0          Spain             ES
 8  16709          Lisbon, Portugal        28.0       Portugal             PT
 9  17233                    Online         NaN            NaN            NaN

    city.id    city.name city.keyword  state.id state.name state.abbrev  \
 0  31156.0       Berlin       berlin       NaN        NaN          NaN
 1  31175.0  Mexico City  mexico-city       NaN        NaN          NaN
 2  31168.0    Amsterdam    amsterdam       NaN        NaN          NaN
 3  31121.0    Sao Paulo    sao-paulo       NaN        NaN          NaN
 4  31136.0        Paris        paris       NaN        NaN          NaN
 5     31.0        Miami        miami      11.0    Florida           FL
 6  31052.0       Madrid       madrid       NaN        NaN          NaN
 7  31170.0    Barcelona    barcelona       NaN        NaN          NaN
 8  31075.0       Lisbon       lisbon       NaN        NaN          NaN
 9      NaN          NaN          NaN       1.0     Online       Online

   state.keyword    school  school_id
 0           NaN  ironhack      10828
 1           NaN  ironhack      10828
 2           NaN  ironhack      10828
 3           NaN  ironhack      10828
 4           NaN  ironhack      10828
 5       florida  ironhack      10828
 6           NaN  ironhack      10828
 7           NaN  ironhack      10828
 8           NaN  ironhack      10828
 9        online  ironhack      10828  ,
       id                       description  country.id   country.name  \
 0  15704  San Francisco, CA, United States         1.0  United States
 1  15705  New York City, NY, United States         1.0  United States
 2  15862                            Online         NaN            NaN

   country.abbrev  state.id  state.name state.abbrev state.keyword  city.id  \
 0             US         6  California           CA    california     13.0
 1             US        34    New York           NY      new-york   1507.0
 2            NaN         1      Online       Online        online      NaN

        city.name   city.keyword       school  school_id
 0  San Francisco  san-francisco  app-academy      10525
 1            NYC  new-york-city  app-academy      10525
 2            NaN            NaN  app-academy      10525  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  16013      Online         1     Online       Online        online

         school  school_id
 0  springboard      11035  ]

In [9]:
# turns the locations list into a pandas data frame
locations = pd.concat(locations_list)
locations

,id,description,country.id,country.name,country.abbrev,city.id,city.name,city.keyword,state.id,state.name,state.abbrev,state.keyword,school,school_id
0,15901,"Berlin, Germany",57.0,Germany,DE,31156.0,Berlin,berlin,NaN,NaN,NaN,NaN,ironhack,10828
1,16022,"Mexico City, Mexico",29.0,Mexico,MX,31175.0,Mexico City,mexico-city,NaN,NaN,NaN,NaN,ironhack,10828
2,16086,"Amsterdam, Netherlands",59.0,Netherlands,NL,31168.0,Amsterdam,amsterdam,NaN,NaN,NaN,NaN,ironhack,10828
3,16088,"Sao Paulo, Brazil",42.0,Brazil,BR,31121.0,Sao Paulo,sao-paulo,NaN,NaN,NaN,NaN,ironhack,10828
4,16109,"Paris, France",38.0,France,FR,31136.0,Paris,paris,NaN,NaN,NaN,NaN,ironhack,10828
5,16375,"Miami, FL, United States",1.0,United States,US,31.0,Miami,miami,11.0,Florida,FL,florida,ironhack,10828
6,16376,"Madrid, Spain",12.0,Spain,ES,31052.0,Madrid,madrid,NaN,NaN,NaN,NaN,ironhack,10828
7,16377,"Barcelona, Spain",12.0,Spain,ES,31170.0,Barcelona,barcelona,NaN,NaN,NaN,NaN,ironhack,10828
8,16709,"Lisbon, Portugal",28.0,Portugal,PT,31075.0,Lisbon,lisbon,NaN,NaN,NaN,NaN,ironhack,10828
9,17233,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,ironhack,10828
0,15704,"San Francisco, CA, United States",1.0,United States,US,13.0,San Francisco,san-francisco,6.0,California,CA,california,app-academy,10525
1,15705,"New York City, NY, United States",1.0,United States,US,1507.0,NYC,new-york-city,34.0,New York,NY,new-york,app-academy,10525
2,15862,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,app-academy,10525
0,16013,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,springboard,11035

In [10]:
# turns the courses list into a pandas dataframe
courses = pd.concat(courses_list)
courses.head(10)

                              courses       school  school_id
0             Data Analytics Bootcamp     ironhack      10828
1            Data Analytics Part-Time     ironhack      10828
2               UX/UI Design Bootcamp     ironhack      10828
3              UX/UI Design Part-Time     ironhack      10828
4            Web Development Bootcamp     ironhack      10828
5           Web Development Part-Time     ironhack      10828
6             Cyber Security Bootcamp     ironhack      10828
0                       Bootcamp Prep  app-academy      10525
1  Software Engineer Track: In-Person  app-academy      10525
2     Software Engineer Track: Online  app-academy      10525

In [11]:
badges = pd.concat(badges_list)
badges.head()

,name,keyword,description,school,school_id
0,Available Online,available_online,<p>School offers fully online courses</p>,ironhack,10828
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,ironhack,10828
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ironhack,10828
0,Available Online,available_online,<p>School offers fully online courses</p>,app-academy,10525
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,app-academy,10525

In [12]:
# turns the school list into a pandas dataframe
# any data cleaning still missing here? take a look at the description
schools = pd.concat(schools_list)
schools.head()

,website,description,LogoUrl,school,school_id
0,www.ironhack.com/en,"<span class=""truncatable""><p>Ironhack is a glo...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
0,appacademy.io,"<span class=""truncatable""><p>App Academy is a ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
0,www.springboard.com/?utm_source=switchup&utm_m...,"<span class=""truncatable""><p>Springboard is an...",https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035

In [13]:
# we need to (at least) clean the string inside 'description' 
schools.iloc[1,1]

'<span class="truncatable"><p>App Academy is a coding school that offers online and in-person training programs with no tuition cost until you’re hired as a Software Engineer earning over $50,000. The career changing outcomes that App Academy has produced since being founded in 2012<span class="read-more-text">... <a class="read-more-button">Read More</a></span><span class="read-more" style="display:none;"> is a major reason why it’s considered the most respected code school in the industry. App Academy has placed over 3,000 people in full-time Software Engineering roles at average salaries of $101,000 in San Francisco, $90,000 in New York, and $80,000 nationally. Their alumni work at over 1,000 companies worldwide, including Google, Apple, Netflix, Twitter, and more. App Academy understands the skills that make a successful software engineer, and more importantly, how to teach them to you. If you don’t succeed after completing the program, you pay nothing, and that’s how it should be.</span></p><span class=\'read-less-text\' style=\'display:none;\'><a class=\'read-less-button\'>Read Less</a></span></span>'

In [14]:
# function to strip HTML tags
# https://stackoverflow.com/questions/753052/strip-html-from-strings-in-python

from io import StringIO
from html.parser import HTMLParser

class MLStripper(HTMLParser):
    def __init__(self):
        super().__init__()
        self.reset()
        self.strict = False
        self.convert_charrefs= True
        self.text = StringIO()
    def handle_data(self, d):
        self.text.write(d)
    def get_data(self):
        return self.text.getvalue()

def strip_tags(html):
    s = MLStripper()
    s.feed(html)
    return s.get_data()

# stripping html tags from schools description 
schools["description"] = [strip_tags(description) for description in schools["description"]]

# Now we do the same for badges description
badges["description"] = [strip_tags(description) for description in badges["description"]]
#badges.head()

schools.head()

,website,description,LogoUrl,school,school_id
0,www.ironhack.com/en,Ironhack is a global tech school with 9 campus...,https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
0,appacademy.io,App Academy is a coding school that offers onl...,https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
0,www.springboard.com/?utm_source=switchup&utm_m...,Springboard is an online school for learning 2...,https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035

In [15]:
# Creating connection to AWS

#import mysql.connector
# cnx = mysql.connector.connect(user = 'root',password = 'admin', host ='localhost', database = 'sakila')

# tries to create connection to aws database

#cnx = mysql.connector.connect(user = 'root',password = '30nFwx08pUda', host ='database-2.cfo0rthvst3c.eu-west-2.rds.amazonaws.com', database = 'sql_project')

#if cnx.is_connected():
#    print("Connection open")
    # do stuff you need to the database
#else:
#    print("Connection is not successfully open")
    
# we need to define the object we will use to interact with the database

#cursor = cnx.cursor()

# Important notes:

# execute the query -> we need to call the cursor to execute our query
#cursor.execute(query)

# this cursos currently holds the results of that query
#results= cursor.fetchall()

# saving any changes you did on the database
# cnx.commit()
# clear the cursor
# cursor.close()

# closes the door between python and SQL
# cnx.close()

In [16]:
# Creating Tables
# Method 1
# query = ("""CREATE TABLE IF NOT EXISTS
# sql_project.demo(
# student_id INT PRIMARY KEY,
# student_name VARCHAR(52),
# email VARCHAR(32) DEFAULT "john_doe@gmail.com",
# coolness INT NOT NULL)""")

# cursor.execute(query)
# cnx.commit()
# cursor.close()
# cnx.close()

In [23]:
comments.head()

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,createdAt,queryDate,program,overallScore,overall,curriculum,jobSupport,review_body,school
0,269512,Anonymous,True,None,2019.0,False,Full stack developer,"Great qualified teachers but unorganized, not ...",2020-10-20,2020-10-20,,2.7,3.0,4.0,1.0,I attended the Berlin bootcamp and the biggest...,ironhack
1,269343,Felipe,False,None,2020.0,False,Unemployed,"UX UI Iron Hack Sao Paulo, be careful before y...",2020-10-13,2020-10-13,UX/UI Design Bootcamp,3.3,2.0,5.0,3.0,(Por favor copie e cole no google tradutor se ...,ironhack
2,269201,Ozzie Zamora,False,None,2020.0,False,UI Designer,UX/UI Design Part-Time | Miami,2020-10-07,2020-10-07,UX/UI Design Part-Time,5.0,5.0,5.0,5.0,"A truly amazing experience, to be honest. I wa...",ironhack
3,269141,Sacha Dollé,False,None,2020.0,False,Data Analyst,"Great bootcamp, great team, great learning",2020-10-06,2020-10-06,Data Analytics Bootcamp,5.0,5.0,5.0,5.0,I use to work in advertisement and decided to ...,ironhack
4,269133,Calypso Redor,False,None,2020.0,False,Product Designer,Une superbe expérience,2020-10-06,2020-10-06,,5.0,5.0,5.0,5.0,« On m’avait prévenu de ce que voulait dire « ...,ironhack

In [24]:
aux = []
for e in comments['review_body']:
    aux.append(len(e))
max(aux)

12221

In [40]:
# Method 2
# import the module

# create sqlalchemy engine
#engine = create_engine('database-2.cfo0rthvst3c.eu-west-2.rds.amazonaws.com'.format(user="root", pw="30nFwx08pUda", db="sql_project"))
engine = sqlalchemy.create_engine('mysql+pymysql://{user}:{pw}@database-2.cfo0rthvst3c.eu-west-2.rds.amazonaws.com/{db}'.format(user="root", pw="30nFwx08pUda", db="sql_project"))
                                    


# Insert whole DataFrame into MySQL
# Creating table comments
data_structure ={
    'id': sqlalchemy.types.INT(), 
    'name': sqlalchemy.types.VARCHAR(length = 100),
    'anonymous': sqlalchemy.types.Boolean,
    'hostProgramName': sqlalchemy.types.VARCHAR(length = 50),
    'graduatingYear': sqlalchemy.types.FLOAT,
    'isAlumni': sqlalchemy.types.Boolean,
    'jobTitle': sqlalchemy.types.VARCHAR(length = 500),
    'tagline': sqlalchemy.types.CHAR(length = 255),
    'createdAt': sqlalchemy.types.DATE,
    'queryDate': sqlalchemy.types.DATE,
    'program': sqlalchemy.types.CHAR(length = 255),
    'overallScore': sqlalchemy.types.FLOAT,
    'overall': sqlalchemy.types.FLOAT,
    'curriculum': sqlalchemy.types.FLOAT,
    'jobSUpport': sqlalchemy.types.FLOAT,
    'review_body': sqlalchemy.types.TEXT,
    'school': sqlalchemy.types.CHAR(length = 255)}

comments.to_sql('comments', con = engine, if_exists = 'replace', dtype = data_structure)

# Creating table locations
data_structure ={
    'id': sqlalchemy.types.INT(), 
    'description': sqlalchemy.types.CHAR(length = 250),
    'country.id': sqlalchemy.types.INT,
    'country.name': sqlalchemy.types.CHAR(length = 250),
    'country.abbrev': sqlalchemy.types.CHAR(length = 2),
    'city.id': sqlalchemy.types.INT,
    'city.name': sqlalchemy.types.CHAR(length = 250),
    'city.keyword': sqlalchemy.types.CHAR(length = 255),
    'state.id': sqlalchemy.types.INT,
    'state.name': sqlalchemy.types.CHAR(length = 250),
    'state.abbrev': sqlalchemy.types.CHAR(length = 50),
    'state.keyword': sqlalchemy.types.CHAR(length = 250),
    'school': sqlalchemy.types.CHAR(length = 250),
    'school.id': sqlalchemy.types.INT}

locations.to_sql('locations', con = engine, if_exists = 'replace', dtype = data_structure)

# Creating table courses
data_structure ={
    'courses': sqlalchemy.types.CHAR(length = 250), 
    'school': sqlalchemy.types.CHAR(length = 250),
    'school.id': sqlalchemy.types.INT}

courses.to_sql('courses', con = engine, if_exists = 'replace', dtype = data_structure)

# Creating table courses
data_structure ={
    'name': sqlalchemy.types.CHAR(length = 250), 
    'keyword': sqlalchemy.types.CHAR(length = 250),
    'description': sqlalchemy.types.CHAR(length = 250),
    'school': sqlalchemy.types.CHAR(length = 250),
    'school.id': sqlalchemy.types.INT}

badges.to_sql('badges', con = engine, if_exists = 'replace', dtype = data_structure)

# Creating table courses
data_structure ={
    'website': sqlalchemy.types.CHAR(length = 250), 
    'description': sqlalchemy.types.VARCHAR(length = 2000),
    'LogoUrl': sqlalchemy.types.VARCHAR(length = 4000),
    'school': sqlalchemy.types.CHAR(length = 250),
    'school.id': sqlalchemy.types.INT}

schools.to_sql('schools', con = engine, if_exists = 'replace', dtype = data_structure)