# SQL Project
You were hired by Ironhack to perform an Analytics Consulting Project entitled: competitive landscape.

Your mission is to create and populate an appropriate database with many coding schools that are our competition, as well as design an suitable queries that answer business questions of interest (to be defined by you)

**Suggested Steps in the Project:**


*   Read this notebook and understand each function. Comment the code appropriately

*   Populate the list of schools with a wider variety of schools (how are you going to get the school ID?)

* Take a look at the obtained dataframes. What dimensions do you have? what keys do you have? how could the different dataframes be connected?

* Go back to the drawing board and try to create an entity relationship diagram for tables available

* Once you have the schemas you want, you will need to:
  - create the suitable SQL queries to create the tables and populate them
  - run these queries using the appropriate Python connectors
  
* Bonus: How will this datamodel be updated in the future? Please write auxiliary functions that test the database for data quality issues. For example: how could you make sure you only include the most recent comments when you re-run the script?


# Suggested Deliverables

* 5-6 minute presentation of data model created, decision process and business analysis proposed

* exported .sql file with the final schema

* Supporting python files used to generate all logic

* High level documentation explaining tables designed and focusing on update methods

Crucial hint: check out the following tutorial:
https://www.dataquest.io/blog/sql-insert-tutorial/

In [1]:
# you must populate this dict with the schools required -> try talking to the teaching team about this

# include any additonal schools necessary 
schools = {   
'data-science-dojo' : 10685,
'ironhack' : 10828,
'app-academy' : 10525,
'springboard' : 11035,
'le-wagon' : 10868,
'academia-de-codigo' : 10494,
'react-graphql-academy' : 10972,
'uxer-school' : 11151,
'ubiqum-code-academy' : 11111,
'skylab-coders-academy' : 11024,
'codeworks' : 10650,
'barcelona-code-school' : 10539
}

# libraries
import re
import pandas as pd
from pandas.io.json import json_normalize
import requests
from datetime import datetime
from datetime import timedelta
import sqlalchemy 
import mysql.connector


# scrapes the comments of a given school (name is provided as parameter) and returns them as a dataframe
def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])
  
    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [2]:
# get comments for all scools in schools dictionary
# could you write this as a list comprehension? ;)
comments = []

for school in schools.keys():
    print(school)
    comments.append(get_comments_school(school))

# converts the result into a pandas dataframe
comments = pd.concat(comments)
comments.head()

data-science-dojo
ironhack
app-academy
springboard
le-wagon
academia-de-codigo
react-graphql-academy
uxer-school
ubiqum-code-academy
skylab-coders-academy
codeworks
barcelona-code-school

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,createdAt,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school
0,269596,Anastasia,False,None,2020.0,False,Portfolio Manager,Great coverage and always keeping the business...,"<span class=""truncatable""><p>This course not o...",10/22/2020,2020-10-22,Online Data Science and Data Engineering Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,This course not only gives a great overview of...,data-science-dojo
1,269271,Ottmar,False,None,2020.0,False,,A very valuable and efficient way to learn Dat...,"<span class=""truncatable""><p>The comprehensive...",10/10/2020,2020-10-10,Online Data Science and Data Engineering Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,"The comprehensive curriculum, together with th...",data-science-dojo
2,268702,Gabriel Buehler,False,None,2020.0,False,Sr Account Executive,Very much worth the time commitment,"<span class=""truncatable""><p>We were half when...",9/22/2020,2020-09-22,Online Data Science and Data Engineering Bootcamp,{'image': None},4.3,[],5.0,5.0,3.0,We were half when through 2020 when our cohort...,data-science-dojo
3,262693,Anonymous,True,Data Science,2020.0,False,None,Great Bootcamp,"<span class=""truncatable""><p>I attended the 3-...",3/11/2020,2020-03-11,5-Day Data Science Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,I attended the 3-day Hands on Introduction to ...,data-science-dojo
4,262288,Anonymous,True,Data Science,2020.0,False,,Empowering,"<span class=""truncatable""><p></p><p>This class...",2/27/2020,2020-02-27,,{'image': None},5.0,[],5.0,5.0,5.0,This class will stretch your mind in ways you ...,data-science-dojo

In [3]:
# Converts strings in createdAt and queryDate to timestamp 
comments['createdAt'] = [datetime.strptime(element, '%m/%d/%Y') for element in comments['createdAt']]
comments['queryDate'] = [datetime.strptime(element, '%Y-%m-%d') for element in comments['queryDate']]
comments['overall'] = [float(element) for element in comments['overall']]
comments['curriculum'] = [float(element) for element in comments['curriculum']]
comments['jobSupport'] = [float(element) for element in comments['jobSupport']]
#comments['graduationYear'] = [type(element), '%G') for element in comments['queryDate']]
#comments.iloc[1,4]

In [4]:
# create new columns for creation month, year, quarter_year
comments['created_month'] = pd.DatetimeIndex(comments['createdAt']).month
comments['created_year'] = pd.DatetimeIndex(comments['createdAt']).year
comments['created_quarter'] = pd.DatetimeIndex(comments['createdAt']).quarter
comments['created_qtyr'] = comments['created_year'].astype(str) + " q" + comments['created_quarter'].astype(str)
comments

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,createdAt,...,comments,overall,curriculum,jobSupport,review_body,school,created_month,created_year,created_quarter,created_qtyr
0,269596,Anastasia,False,None,2020.0,False,Portfolio Manager,Great coverage and always keeping the business...,"<span class=""truncatable""><p>This course not o...",2020-10-22,...,[],5.0,5.0,5.0,This course not only gives a great overview of...,data-science-dojo,10,2020,4,2020 q4
1,269271,Ottmar,False,None,2020.0,False,,A very valuable and efficient way to learn Dat...,"<span class=""truncatable""><p>The comprehensive...",2020-10-10,...,[],5.0,5.0,5.0,"The comprehensive curriculum, together with th...",data-science-dojo,10,2020,4,2020 q4
2,268702,Gabriel Buehler,False,None,2020.0,False,Sr Account Executive,Very much worth the time commitment,"<span class=""truncatable""><p>We were half when...",2020-09-22,...,[],5.0,5.0,3.0,We were half when through 2020 when our cohort...,data-science-dojo,9,2020,3,2020 q3
3,262693,Anonymous,True,Data Science,2020.0,False,None,Great Bootcamp,"<span class=""truncatable""><p>I attended the 3-...",2020-03-11,...,[],5.0,5.0,5.0,I attended the 3-day Hands on Introduction to ...,data-science-dojo,3,2020,1,2020 q1
4,262288,Anonymous,True,Data Science,2020.0,False,,Empowering,"<span class=""truncatable""><p></p><p>This class...",2020-02-27,...,[],5.0,5.0,5.0,This class will stretch your mind in ways you ...,data-science-dojo,2,2020,1,2020 q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,234696,michael,False,Software Engineering,2018.0,True,None,Online Javascript full stack bootcamp,"<span class=""truncatable""><p>I had been learni...",2018-04-03,...,[],5.0,5.0,5.0,I had been learning from various online resour...,barcelona-code-school,4,2018,2,2018 q2
21,241794,Anonymous,True,Software Engineering,2017.0,True,None,JavaScript Full-Stack Bootcamp,"<span class=""truncatable""><p>If you are lookin...",2018-01-18,...,[],5.0,5.0,5.0,If you are looking to change career and get a ...,barcelona-code-school,1,2018,1,2018 q1
22,237763,Olivia,False,None,2017.0,True,Marketing Manager,Excellent and Thorough Service,"<span class=""truncatable""><p>We received in-of...",2017-09-12,...,[],5.0,4.0,5.0,We received in-office AdWords training from Ca...,barcelona-code-school,9,2017,3,2017 q3
23,237528,Maria,False,None,2017.0,True,Web desgner,In love with them,"<span class=""truncatable""><p>I was slightly sk...",2017-08-31,...,[],5.0,5.0,5.0,I was slightly skeptical first about being abl...,barcelona-code-school,8,2017,3,2017 q3
24,237398,Alexandra,False,None,2017.0,True,Architect,Great JS Bootcamp experience,"<p>I just love everything about this school, l...",2017-08-30,...,[],5.0,5.0,4.0,"I just love everything about this school, loca...",barcelona-code-school,8,2017,3,2017 q3

In [5]:
#comments.user.unique()
# Removes columns without data or that have redundant data
del comments['body'] # another comulmn (review_body) has the same content, without the html tags
comments

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,createdAt,queryDate,...,comments,overall,curriculum,jobSupport,review_body,school,created_month,created_year,created_quarter,created_qtyr
0,269596,Anastasia,False,None,2020.0,False,Portfolio Manager,Great coverage and always keeping the business...,2020-10-22,2020-10-22,...,[],5.0,5.0,5.0,This course not only gives a great overview of...,data-science-dojo,10,2020,4,2020 q4
1,269271,Ottmar,False,None,2020.0,False,,A very valuable and efficient way to learn Dat...,2020-10-10,2020-10-10,...,[],5.0,5.0,5.0,"The comprehensive curriculum, together with th...",data-science-dojo,10,2020,4,2020 q4
2,268702,Gabriel Buehler,False,None,2020.0,False,Sr Account Executive,Very much worth the time commitment,2020-09-22,2020-09-22,...,[],5.0,5.0,3.0,We were half when through 2020 when our cohort...,data-science-dojo,9,2020,3,2020 q3
3,262693,Anonymous,True,Data Science,2020.0,False,None,Great Bootcamp,2020-03-11,2020-03-11,...,[],5.0,5.0,5.0,I attended the 3-day Hands on Introduction to ...,data-science-dojo,3,2020,1,2020 q1
4,262288,Anonymous,True,Data Science,2020.0,False,,Empowering,2020-02-27,2020-02-27,...,[],5.0,5.0,5.0,This class will stretch your mind in ways you ...,data-science-dojo,2,2020,1,2020 q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,234696,michael,False,Software Engineering,2018.0,True,None,Online Javascript full stack bootcamp,2018-04-03,2018-04-03,...,[],5.0,5.0,5.0,I had been learning from various online resour...,barcelona-code-school,4,2018,2,2018 q2
21,241794,Anonymous,True,Software Engineering,2017.0,True,None,JavaScript Full-Stack Bootcamp,2018-01-18,2018-01-18,...,[],5.0,5.0,5.0,If you are looking to change career and get a ...,barcelona-code-school,1,2018,1,2018 q1
22,237763,Olivia,False,None,2017.0,True,Marketing Manager,Excellent and Thorough Service,2017-09-12,2017-09-12,...,[],5.0,4.0,5.0,We received in-office AdWords training from Ca...,barcelona-code-school,9,2017,3,2017 q3
23,237528,Maria,False,None,2017.0,True,Web desgner,In love with them,2017-08-31,2017-08-31,...,[],5.0,5.0,5.0,I was slightly skeptical first about being abl...,barcelona-code-school,8,2017,3,2017 q3
24,237398,Alexandra,False,None,2017.0,True,Architect,Great JS Bootcamp experience,2017-08-30,2017-08-30,...,[],5.0,5.0,4.0,"I just love everything about this school, loca...",barcelona-code-school,8,2017,3,2017 q3

In [6]:
#con =[]
#for line in comments['comments']:
#    if line not in con:
#        con.append(line)
del comments['comments'] # most cases are empty
del comments['user'] # we are not interested in pictures
#con
#print(comments[comments["name"]=="Joe Fang"])

In [7]:
from pandas.io.json import json_normalize

# returns dataframes for the location, courses, badges and school for a given school name and id given as parameter
def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

# gets school info for every school in the schools dictionary
for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)
    
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

school

data-science-dojo

<ipython-input-7-a21593ea3efb>:15: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  locations_df = json_normalize(locations)

ironhack
app-academy
springboard
le-wagon
academia-de-codigo
react-graphql-academy
uxer-school
ubiqum-code-academy
skylab-coders-academy
codeworks
barcelona-code-school

'barcelona-code-school'

In [8]:
# shows the location list
locations_list

[      id                       description  country.id   country.name  \
 0  15968        Seattle, WA, United States         1.0  United States
 1  15995     Washington, DC, United States         1.0  United States
 2  16101         Austin, TX, United States         1.0  United States
 3  16103  New York City, NY, United States         1.0  United States
 4  16737                  Barcelona, Spain        12.0          Spain
 5  16740              Singapore, Singapore        56.0      Singapore
 6  17042    Albuquerque, NM, United States         1.0  United States
 7  17235                            Online         NaN            NaN

   country.abbrev  state.id            state.name state.abbrev  \
 0             US      49.0            Washington           WA
 1             US      10.0  District of Columbia           DC
 2             US      45.0                 Texas           TX
 3             US      34.0              New York           NY
 4             ES       NaN                   NaN          NaN
 5             SG       NaN                   NaN          NaN
 6             US      33.0            New Mexico           NM
 7            NaN       1.0                Online       Online

           state.keyword  city.id        city.name   city.keyword  \
 0            washington     97.0          Seattle        seattle
 1  district-of-columbia    775.0  Washington D.C.  washington-dc
 2                 texas     84.0           Austin         austin
 3              new-york   1507.0              NYC  new-york-city
 4                   NaN  31170.0        Barcelona      barcelona
 5                   NaN  31154.0        Singapore      singapore
 6            new-mexico     63.0      Albuquerque    albuquerque
 7                online      NaN              NaN            NaN

               school  school_id
 0  data-science-dojo      10685
 1  data-science-dojo      10685
 2  data-science-dojo      10685
 3  data-science-dojo      10685
 4  data-science-dojo      10685
 5  data-science-dojo      10685
 6  data-science-dojo      10685
 7  data-science-dojo      10685  ,
       id               description  country.id   country.name country.abbrev  \
 0  15901           Berlin, Germany        57.0        Germany             DE
 1  16022       Mexico City, Mexico        29.0         Mexico             MX
 2  16086    Amsterdam, Netherlands        59.0    Netherlands             NL
 3  16088         Sao Paulo, Brazil        42.0         Brazil             BR
 4  16109             Paris, France        38.0         France             FR
 5  16375  Miami, FL, United States         1.0  United States             US
 6  16376             Madrid, Spain        12.0          Spain             ES
 7  16377          Barcelona, Spain        12.0          Spain             ES
 8  16709          Lisbon, Portugal        28.0       Portugal             PT
 9  17233                    Online         NaN            NaN            NaN

    city.id    city.name city.keyword  state.id state.name state.abbrev  \
 0  31156.0       Berlin       berlin       NaN        NaN          NaN
 1  31175.0  Mexico City  mexico-city       NaN        NaN          NaN
 2  31168.0    Amsterdam    amsterdam       NaN        NaN          NaN
 3  31121.0    Sao Paulo    sao-paulo       NaN        NaN          NaN
 4  31136.0        Paris        paris       NaN        NaN          NaN
 5     31.0        Miami        miami      11.0    Florida           FL
 6  31052.0       Madrid       madrid       NaN        NaN          NaN
 7  31170.0    Barcelona    barcelona       NaN        NaN          NaN
 8  31075.0       Lisbon       lisbon       NaN        NaN          NaN
 9      NaN          NaN          NaN       1.0     Online       Online

   state.keyword    school  school_id
 0           NaN  ironhack      10828
 1           NaN  ironhack      10828
 2           NaN  ironhack      10828
 3           NaN  ironhack      10828
 4           NaN  ironhack      10828
 5       florida  ironhack      10828
 6           NaN  ironhack      10828
 7           NaN  ironhack      10828
 8           NaN  ironhack      10828
 9        online  ironhack      10828  ,
       id                       description  country.id   country.name  \
 0  15704  San Francisco, CA, United States         1.0  United States
 1  15705  New York City, NY, United States         1.0  United States
 2  15862                            Online         NaN            NaN

   country.abbrev  state.id  state.name state.abbrev state.keyword  city.id  \
 0             US         6  California           CA    california     13.0
 1             US        34    New York           NY      new-york   1507.0
 2            NaN         1      Online       Online        online      NaN

        city.name   city.keyword       school  school_id
 0  San Francisco  san-francisco  app-academy      10525
 1            NYC  new-york-city  app-academy      10525
 2            NaN            NaN  app-academy      10525  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  16013      Online         1     Online       Online        online

         school  school_id
 0  springboard      11035  ,
        id                  description  country.id          country.name  \
 0   15803         Melbourne, Australia          20             Australia
 1   15904          Casablanca, Morocco          44               Morocco
 2   15906      Buenos Aires, Argentina          60             Argentina
 3   15964            Brussels, Belgium          46               Belgium
 4   15979                 Milan, Italy          39                 Italy
 5   15996               Chengdu, China          15                 China
 6   16039          Mexico City, Mexico          29                Mexico
 7   16049       Amsterdam, Netherlands          59           Netherlands
 8   16106            Sao Paulo, Brazil          42                Brazil
 9   16124             Barcelona, Spain          12                 Spain
 10  16145             Bordeaux, France          38                France
 11  16146          Copenhagen, Denmark          47               Denmark
 12  16147                Lille, France          38                France
 13  16148             Lisbon, Portugal          28              Portugal
 14  16149              Bali, Indonesia          35             Indonesia
 15  16150               Nantes, France          38                France
 16  16274      Rio de Janeiro , Brazil          42                Brazil
 17  16275            Marseille, France          38                France
 18  16282             Montreal, Canada           2                Canada
 19  16283              Shanghai, China          15                 China
 20  16307       Belo Horizonte, Brazil          42                Brazil
 21  16407                 Tokyo, Japan          48                 Japan
 22  16408                 Lyon, France          38                France
 23  16478             Tel Aviv, Israel           5                Israel
 24  16570                 Kyoto, Japan          48                 Japan
 25  16765              Berlin, Germany          57               Germany
 26  16767                Paris, France          38                France
 27  16775              Shenzhen, China          15                 China
 28  16776        Lausanne, Switzerland          32           Switzerland
 29  16800                Madrid, Spain          12                 Spain
 30  16804                 Oslo, Norway          52                Norway
 31  16805               Rennes, France          38                France
 32  16936         Singapore, Singapore          56             Singapore
 33  16967              London, England          61               England
 34  16968                  Rome, Italy          39                 Italy
 35  17128            Stockholm, Sweden          37                Sweden
 36  17129                 Seoul, Korea          55           South Korea
 37  17157             Istanbul, Turkey         237                Turkey
 38  17188              Toronto, Canada           2                Canada
 39  17314  Dubai, United Arab Emirates          34  United Arab Emirates
 40  17395              Munich, Germany          57               Germany

    country.abbrev  city.id        city.name    city.keyword    school  \
 0              AU    31174        Melbourne       melbourne  le-wagon
 1              MA    31119       Casablanca      casablanca  le-wagon
 2              AR    31171     Buenos Aires    buenos-aires  le-wagon
 3              BE    31125         Brussels        brussels  le-wagon
 4              IT    31107            Milan           milan  le-wagon
 5              CN    31126          Chengdu         chengdu  le-wagon
 6              MX    31175      Mexico City     mexico-city  le-wagon
 7              NL    31168        Amsterdam       amsterdam  le-wagon
 8              BR    31121        Sao Paulo       sao-paulo  le-wagon
 9              ES    31170        Barcelona       barcelona  le-wagon
 10             FR    31124         Bordeaux        bordeaux  le-wagon
 11             DK    31127       Copenhagen      copenhagen  le-wagon
 12             FR    31128            Lille           lille  le-wagon
 13             PT    31075           Lisbon          lisbon  le-wagon
 14             ID    31169             Bali            bali  le-wagon
 15             FR    31130           Nantes          nantes  le-wagon
 16             BR    31131  Rio de Janeiro   rio-de-janeiro  le-wagon
 17             FR    31129        Marseille       marseille  le-wagon
 18             CA    31135         Montreal        montreal  le-wagon
 19             CN    31108         Shanghai        shanghai  le-wagon
 20             BR    31123   Belo Horizonte  belo-horizonte  le-wagon
 21             JP    31132            Tokyo           tokyo  le-wagon
 22             FR    31106             Lyon            lyon  le-wagon
 23             IL    31079         Tel Aviv        tel-aviv  le-wagon
 24             JP    31134            Kyoto           kyoto  le-wagon
 25             DE    31156           Berlin          berlin  le-wagon
 26             FR    31136            Paris           paris  le-wagon
 27             CN    31164         Shenzhen        shenzhen  le-wagon
 28             CH    31163         Lausanne        lausanne  le-wagon
 29             ES    31052           Madrid          madrid  le-wagon
 30             NO    31145             Oslo            oslo  le-wagon
 31             FR    31147           Rennes          rennes  le-wagon
 32             SG    31154        Singapore       singapore  le-wagon
 33             GB    31176           London          london  le-wagon
 34             IT    31180             Rome            rome  le-wagon
 35             SE    31109        Stockholm       stockholm  le-wagon
 36             KR    31151            Seoul            seol  le-wagon
 37             TR    31193         Istanbul        istanbul  le-wagon
 38             CA    31152          Toronto         toronto  le-wagon
 39             AE    31093            Dubai           dubai  le-wagon
 40             DE    31158           Munich          munich  le-wagon

     school_id
 0       10868
 1       10868
 2       10868
 3       10868
 4       10868
 5       10868
 6       10868
 7       10868
 8       10868
 9       10868
 10      10868
 11      10868
 12      10868
 13      10868
 14      10868
 15      10868
 16      10868
 17      10868
 18      10868
 19      10868
 20      10868
 21      10868
 22      10868
 23      10868
 24      10868
 25      10868
 26      10868
 27      10868
 28      10868
 29      10868
 30      10868
 31      10868
 32      10868
 33      10868
 34      10868
 35      10868
 36      10868
 37      10868
 38      10868
 39      10868
 40      10868  ,
       id                description  country.id country.name country.abbrev  \
 0  16627           Lisbon, Portugal          28     Portugal             PT
 1  16771            Porto, Portugal          28     Portugal             PT
 2  16798  Terceira Island, Portugal          28     Portugal             PT
 3  16801           Fundao, Portugal          28     Portugal             PT

    city.id        city.name     city.keyword              school  school_id
 0    31075           Lisbon           lisbon  academia-de-codigo      10494
 1    31102            Porto            porto  academia-de-codigo      10494
 2    31161  Terceira Island  terceira-island  academia-de-codigo      10494
 3    31140           Fundao           fundao  academia-de-codigo      10494  ,
       id             description  country.id    country.name country.abbrev  \
 0  15748         London, England        11.0  United Kingdom             GB
 1  16749        Lisbon, Portugal        28.0        Portugal             PT
 2  17023  Amsterdam, Netherlands        59.0     Netherlands             NL
 3  17242                  Online         NaN             NaN            NaN
 4  17251         Berlin, Germany        57.0         Germany             DE
 5  17252        Barcelona, Spain        12.0           Spain             ES

    city.id  city.name city.keyword  state.id state.name state.abbrev  \
 0  31176.0     London       london       NaN        NaN          NaN
 1  31075.0     Lisbon       lisbon       NaN        NaN          NaN
 2  31168.0  Amsterdam    amsterdam       NaN        NaN          NaN
 3      NaN        NaN          NaN       1.0     Online       Online
 4  31156.0     Berlin       berlin       NaN        NaN          NaN
 5  31170.0  Barcelona    barcelona       NaN        NaN          NaN

   state.keyword                 school  school_id
 0           NaN  react-graphql-academy      10972
 1           NaN  react-graphql-academy      10972
 2           NaN  react-graphql-academy      10972
 3        online  react-graphql-academy      10972
 4           NaN  react-graphql-academy      10972
 5           NaN  react-graphql-academy      10972  ,
       id       description  country.id country.name country.abbrev  city.id  \
 0  16031     Madrid, Spain          12        Spain             ES    31052
 1  16032  Barcelona, Spain          12        Spain             ES    31170
 2  16151   Valencia, Spain          12        Spain             ES    31114

    city.name city.keyword       school  school_id
 0     Madrid       madrid  uxer-school      11151
 1  Barcelona    barcelona  uxer-school      11151
 2   Valencia     valencia  uxer-school      11151  ,
       id             description  country.id country.name country.abbrev  \
 0  15913         Berlin, Germany          57      Germany             DE
 1  16118        Barcelona, Spain          12        Spain             ES
 2  16155  Amsterdam, Netherlands          59  Netherlands             NL
 3  16577           Madrid, Spain          12        Spain             ES
 4  17192        Lisbon, Portugal          28     Portugal             PT

    city.id  city.name city.keyword               school  school_id
 0    31156     Berlin       berlin  ubiqum-code-academy      11111
 1    31170  Barcelona    barcelona  ubiqum-code-academy      11111
 2    31168  Amsterdam    amsterdam  ubiqum-code-academy      11111
 3    31052     Madrid       madrid  ubiqum-code-academy      11111
 4    31075     Lisbon       lisbon  ubiqum-code-academy      11111  ,
       id       description  country.id country.name country.abbrev  city.id  \
 0  16175  Barcelona, Spain          12        Spain             ES    31170

    city.name city.keyword                 school  school_id
 0  Barcelona    barcelona  skylab-coders-academy      11024  ,
       id       description  country.id country.name country.abbrev  city.id  \
 0  16122  Barcelona, Spain        12.0        Spain             ES  31170.0
 1  17049            Online         NaN          NaN            NaN      NaN
 2  17122   Berlin, Germany        57.0      Germany             DE  31156.0
 3  17124       Toronto, ON         2.0       Canada             CA  31152.0
 4  17126   London, England        61.0      England             GB  31176.0

    city.name city.keyword  state.id state.name state.abbrev state.keyword  \
 0  Barcelona    barcelona       NaN        NaN          NaN           NaN
 1        NaN          NaN       1.0     Online       Online        online
 2     Berlin       berlin       NaN        NaN          NaN           NaN
 3    Toronto      toronto       NaN        NaN          NaN           NaN
 4     London       london       NaN        NaN          NaN           NaN

       school  school_id
 0  codeworks      10650
 1  codeworks      10650
 2  codeworks      10650
 3  codeworks      10650
 4  codeworks      10650  ,
       id       description  state.id state.name state.abbrev state.keyword  \
 0  15896            Online       1.0     Online       Online        online
 1  16116  Barcelona, Spain       NaN        NaN          NaN           NaN

    country.id country.name country.abbrev  city.id  city.name city.keyword  \
 0         NaN          NaN            NaN      NaN        NaN          NaN
 1        12.0        Spain             ES  31170.0  Barcelona    barcelona

                   school  school_id
 0  barcelona-code-school      10539
 1  barcelona-code-school      10539  ]

In [9]:
# turns the locations list into a pandas data frame
locations = pd.concat(locations_list)
locations

,id,description,country.id,country.name,country.abbrev,state.id,state.name,state.abbrev,state.keyword,city.id,city.name,city.keyword,school,school_id
0,15968,"Seattle, WA, United States",1.0,United States,US,49.0,Washington,WA,washington,97.0,Seattle,seattle,data-science-dojo,10685
1,15995,"Washington, DC, United States",1.0,United States,US,10.0,District of Columbia,DC,district-of-columbia,775.0,Washington D.C.,washington-dc,data-science-dojo,10685
2,16101,"Austin, TX, United States",1.0,United States,US,45.0,Texas,TX,texas,84.0,Austin,austin,data-science-dojo,10685
3,16103,"New York City, NY, United States",1.0,United States,US,34.0,New York,NY,new-york,1507.0,NYC,new-york-city,data-science-dojo,10685
4,16737,"Barcelona, Spain",12.0,Spain,ES,NaN,NaN,NaN,NaN,31170.0,Barcelona,barcelona,data-science-dojo,10685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,17122,"Berlin, Germany",57.0,Germany,DE,NaN,NaN,NaN,NaN,31156.0,Berlin,berlin,codeworks,10650
3,17124,"Toronto, ON",2.0,Canada,CA,NaN,NaN,NaN,NaN,31152.0,Toronto,toronto,codeworks,10650
4,17126,"London, England",61.0,England,GB,NaN,NaN,NaN,NaN,31176.0,London,london,codeworks,10650
0,15896,Online,NaN,NaN,NaN,1.0,Online,Online,online,NaN,NaN,NaN,barcelona-code-school,10539
1,16116,"Barcelona, Spain",12.0,Spain,ES,NaN,NaN,NaN,NaN,31170.0,Barcelona,barcelona,barcelona-code-school,10539

In [10]:
# turns the courses list into a pandas dataframe
courses = pd.concat(courses_list)
courses.head(10)

,courses,school,school_id
0,5-Day Data Science Bootcamp,data-science-dojo,10685
1,Data Science for Managers and Business Leaders,data-science-dojo,10685
2,Python for Data Science,data-science-dojo,10685
3,Remote Data Science and Data Engineering Bootcamp,data-science-dojo,10685
0,Data Analytics Bootcamp,ironhack,10828
1,Data Analytics Part-Time,ironhack,10828
2,UX/UI Design Bootcamp,ironhack,10828
3,UX/UI Design Part-Time,ironhack,10828
4,Web Development Bootcamp,ironhack,10828
5,Web Development Part-Time,ironhack,10828

In [11]:
badges = pd.concat(badges_list)
badges.head()

,name,keyword,description,school,school_id
0,Available Online,available_online,<p>School offers fully online courses</p>,data-science-dojo,10685
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,data-science-dojo,10685
0,Available Online,available_online,<p>School offers fully online courses</p>,ironhack,10828
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,ironhack,10828
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ironhack,10828

In [12]:
# turns the school list into a pandas dataframe
# any data cleaning still missing here? take a look at the description
schools = pd.concat(schools_list)
schools.head()

,website,description,LogoUrl,school,school_id
0,datasciencedojo.com/data-science-bootcamp,"<span class=""truncatable""><p>Data Science Dojo...",https://d92mrp7hetgfk.cloudfront.net/images/si...,data-science-dojo,10685
0,www.ironhack.com/en,"<span class=""truncatable""><p>Ironhack is a glo...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
0,appacademy.io,"<span class=""truncatable""><p>App Academy is a ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
0,www.springboard.com/?utm_source=switchup&utm_m...,"<span class=""truncatable""><p>Springboard is an...",https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035
0,www.lewagon.com,"<span class=""truncatable""><p>Le Wagon runs imm...",https://d92mrp7hetgfk.cloudfront.net/images/si...,le-wagon,10868

In [13]:
# we need to (at least) clean the string inside 'description' 
schools.iloc[1,1]

'<span class="truncatable"><p>Ironhack is a global tech school with 9 campuses worldwide, located in Miami, Madrid, Barcelona, Paris, Berlin, Amsterdam, Mexico City, Lisbon and São Paulo. Ironhack offers bootcamps and part-time courses in Web Development, UX/UI Design, Data Analytics<span class="read-more-text">... <a class="read-more-button">Read More</a></span><span class="read-more" style="display:none;"> and Cyber Security, which are taught both remotely and in-person.</span></p><p>With more than 6.000 graduates working at companies like Google, Visa, Twitter, Rocket Internet and Orange, among others, Ironhack has an extensive global network of +600 partner companies. Post graduation, all students have access to career services, which prepare graduates for their job searches and facilitate interviews in their city\'s local tech ecosystem.</p><span class=\'read-less-text\' style=\'display:none;\'><a class=\'read-less-button\'>Read Less</a></span></span>'

In [14]:
# function to strip HTML tags
# https://stackoverflow.com/questions/753052/strip-html-from-strings-in-python

from io import StringIO
from html.parser import HTMLParser

class MLStripper(HTMLParser):
    def __init__(self):
        super().__init__()
        self.reset()
        self.strict = False
        self.convert_charrefs= True
        self.text = StringIO()
    def handle_data(self, d):
        self.text.write(d)
    def get_data(self):
        return self.text.getvalue()

def strip_tags(html):
    s = MLStripper()
    s.feed(html)
    return s.get_data()

# stripping html tags from schools description 
schools["description"] = [strip_tags(description) for description in schools["description"]]

# Now we do the same for badges description
badges["description"] = [strip_tags(description) for description in badges["description"]]
#badges.head()

schools.head()

,website,description,LogoUrl,school,school_id
0,datasciencedojo.com/data-science-bootcamp,Data Science Dojo believes that anyone can lea...,https://d92mrp7hetgfk.cloudfront.net/images/si...,data-science-dojo,10685
0,www.ironhack.com/en,Ironhack is a global tech school with 9 campus...,https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
0,appacademy.io,App Academy is a coding school that offers onl...,https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
0,www.springboard.com/?utm_source=switchup&utm_m...,Springboard is an online school for learning 2...,https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035
0,www.lewagon.com,Le Wagon runs immersive coding bootcamps in 39...,https://d92mrp7hetgfk.cloudfront.net/images/si...,le-wagon,10868

In [15]:
# Creating connection to AWS

#import mysql.connector
# cnx = mysql.connector.connect(user = 'root',password = 'admin', host ='localhost', database = 'sakila')

# tries to create connection to aws database

#cnx = mysql.connector.connect(user = 'root',password = '30nFwx08pUda', host ='database-2.cfo0rthvst3c.eu-west-2.rds.amazonaws.com', database = 'sql_project')

#if cnx.is_connected():
#    print("Connection open")
    # do stuff you need to the database
#else:
#    print("Connection is not successfully open")
    
# we need to define the object we will use to interact with the database

#cursor = cnx.cursor()

# Important notes:

# execute the query -> we need to call the cursor to execute our query
#cursor.execute(query)

# this cursos currently holds the results of that query
#results= cursor.fetchall()

# saving any changes you did on the database
# cnx.commit()
# clear the cursor
# cursor.close()

# closes the door between python and SQL
# cnx.close()

In [16]:
# Creating Tables
# Method 1
# query = ("""CREATE TABLE IF NOT EXISTS
# sql_project.demo(
# student_id INT PRIMARY KEY,
# student_name VARCHAR(52),
# email VARCHAR(32) DEFAULT "john_doe@gmail.com",
# coolness INT NOT NULL)""")

# cursor.execute(query)
# cnx.commit()
# cursor.close()
# cnx.close()

In [17]:
comments.head()

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,createdAt,queryDate,...,overallScore,overall,curriculum,jobSupport,review_body,school,created_month,created_year,created_quarter,created_qtyr
0,269596,Anastasia,False,None,2020.0,False,Portfolio Manager,Great coverage and always keeping the business...,2020-10-22,2020-10-22,...,5.0,5.0,5.0,5.0,This course not only gives a great overview of...,data-science-dojo,10,2020,4,2020 q4
1,269271,Ottmar,False,None,2020.0,False,,A very valuable and efficient way to learn Dat...,2020-10-10,2020-10-10,...,5.0,5.0,5.0,5.0,"The comprehensive curriculum, together with th...",data-science-dojo,10,2020,4,2020 q4
2,268702,Gabriel Buehler,False,None,2020.0,False,Sr Account Executive,Very much worth the time commitment,2020-09-22,2020-09-22,...,4.3,5.0,5.0,3.0,We were half when through 2020 when our cohort...,data-science-dojo,9,2020,3,2020 q3
3,262693,Anonymous,True,Data Science,2020.0,False,None,Great Bootcamp,2020-03-11,2020-03-11,...,5.0,5.0,5.0,5.0,I attended the 3-day Hands on Introduction to ...,data-science-dojo,3,2020,1,2020 q1
4,262288,Anonymous,True,Data Science,2020.0,False,,Empowering,2020-02-27,2020-02-27,...,5.0,5.0,5.0,5.0,This class will stretch your mind in ways you ...,data-science-dojo,2,2020,1,2020 q1

In [18]:
aux = []
for e in comments['review_body']:
    aux.append(len(e))
max(aux)

12221

In [19]:
# Method 2
# import the module

# create sqlalchemy engine
#engine = create_engine('database-2.cfo0rthvst3c.eu-west-2.rds.amazonaws.com'.format(user="root", pw="30nFwx08pUda", db="sql_project"))
engine = sqlalchemy.create_engine('mysql+pymysql://{user}:{pw}@database-2.cfo0rthvst3c.eu-west-2.rds.amazonaws.com/{db}'.format(user="root", pw="30nFwx08pUda", db="sql_project"))
                                    


# Insert whole DataFrame into MySQL
# Creating table comments
data_structure ={
    'id': sqlalchemy.types.INT(), 
    'name': sqlalchemy.types.VARCHAR(length = 100),
    'anonymous': sqlalchemy.types.Boolean,
    'hostProgramName': sqlalchemy.types.VARCHAR(length = 50),
    'graduatingYear': sqlalchemy.types.FLOAT,
    'isAlumni': sqlalchemy.types.Boolean,
    'jobTitle': sqlalchemy.types.VARCHAR(length = 500),
    'tagline': sqlalchemy.types.CHAR(length = 255),
    'createdAt': sqlalchemy.types.DATE,
    'queryDate': sqlalchemy.types.DATE,
    'program': sqlalchemy.types.CHAR(length = 255),
    'overallScore': sqlalchemy.types.FLOAT,
    'overall': sqlalchemy.types.FLOAT,
    'curriculum': sqlalchemy.types.FLOAT,
    'jobSUpport': sqlalchemy.types.FLOAT,
    'review_body': sqlalchemy.types.TEXT,
    'school': sqlalchemy.types.CHAR(length = 250),
    'created_month' : sqlalchemy.types.INT(),
    'created_year' : sqlalchemy.types.INT(),
    'created_quarter' : sqlalchemy.types.INT(),
    'created_qtyr' : sqlalchemy.types.CHAR(length = 10)}

comments.to_sql('comments', con = engine, if_exists = 'replace', dtype = data_structure)

# Creating table locations
data_structure ={
    'id': sqlalchemy.types.INT(), 
    'description': sqlalchemy.types.CHAR(length = 250),
    'country.id': sqlalchemy.types.INT,
    'country.name': sqlalchemy.types.CHAR(length = 250),
    'country.abbrev': sqlalchemy.types.CHAR(length = 2),
    'city.id': sqlalchemy.types.INT,
    'city.name': sqlalchemy.types.CHAR(length = 250),
    'city.keyword': sqlalchemy.types.CHAR(length = 255),
    'state.id': sqlalchemy.types.INT,
    'state.name': sqlalchemy.types.CHAR(length = 250),
    'state.abbrev': sqlalchemy.types.CHAR(length = 50),
    'state.keyword': sqlalchemy.types.CHAR(length = 250),
    'school': sqlalchemy.types.CHAR(length = 250),
    'school.id': sqlalchemy.types.INT}

locations.to_sql('locations', con = engine, if_exists = 'replace', dtype = data_structure)

# Creating table courses_schools
data_structure ={
    'courses': sqlalchemy.types.CHAR(length = 250), 
    'school': sqlalchemy.types.CHAR(length = 250),
    'school.id': sqlalchemy.types.INT}

courses.to_sql('courses_schools', con = engine, if_exists = 'replace', dtype = data_structure)

# Creating table badges_schools
data_structure ={
    'name': sqlalchemy.types.CHAR(length = 250), 
    'keyword': sqlalchemy.types.CHAR(length = 250),
    'description': sqlalchemy.types.CHAR(length = 250),
    'school': sqlalchemy.types.CHAR(length = 250),
    'school.id': sqlalchemy.types.INT}

badges.to_sql('badges_schools', con = engine, if_exists = 'replace', dtype = data_structure)

# Creating table schools
data_structure ={
    'website': sqlalchemy.types.CHAR(length = 250), 
    'description': sqlalchemy.types.VARCHAR(length = 2000),
    'LogoUrl': sqlalchemy.types.VARCHAR(length = 4000),
    'school': sqlalchemy.types.CHAR(length = 250),
    'school.id': sqlalchemy.types.INT}

schools.to_sql('schools', con = engine, if_exists = 'replace', dtype = data_structure)

In [20]:
def sql_query(query):
    '''Function to run a query given as argument, returns results of the query'''

    # Creating connection to AWS

    # cnx = mysql.connector.connect(user = 'root',password = 'admin', host ='localhost', database = 'sakila')

    cnx = mysql.connector.connect(user = 'root',password = '30nFwx08pUda', host ='database-2.cfo0rthvst3c.eu-west-2.rds.amazonaws.com', database = 'sql_project')

    #if cnx.is_connected():
        # print("Connection open")
        # do stuff you need to the database
    #else:
        #print("Connection is not successfully open")
    
    # we need to define the object we will use to interact with the database

    cursor = cnx.cursor()

    # Important notes:

    # execute the query -> we need to call the cursor to execute our query
    cursor.execute(query)

    # saving any changes you did on the database
    cnx.commit()


    # closes the door between python and SQL
    cnx.close()
    #print("Connection closed")
    
    try:
        #cursor holds results of query
        results = cursor.fetchall()
        #clear the cursor
        cursor.close()
        return results
    except:
        pass

In [21]:
# Creating bridge table between comments and schools
data_structure ={
    'school': sqlalchemy.types.CHAR(length = 250),
    'school.id': sqlalchemy.types.INT}

schools[['school','school_id']].to_sql('comments_schools', con = engine, if_exists = 'replace', dtype = data_structure)

In [22]:
# Defining primary keys for the tables created above
sql_query("ALTER TABLE schools ADD PRIMARY KEY (school_id);")
sql_query("ALTER TABLE comments_schools ADD PRIMARY KEY (school), ADD FOREIGN KEY (school_id) REFERENCES schools(school_id);")
sql_query("ALTER TABLE locations ADD PRIMARY KEY (id), ADD FOREIGN KEY (school_id) REFERENCES schools(school_id);")
sql_query("ALTER TABLE courses_schools ADD FOREIGN KEY (school_id) REFERENCES schools(school_id);")
sql_query("ALTER TABLE comments ADD PRIMARY KEY (id), ADD FOREIGN KEY (school) REFERENCES comments_schools(school);")
sql_query("ALTER TABLE badges_schools ADD FOREIGN KEY (school_id) REFERENCES schools(school_id);")

In [23]:
# Importing mySql View into a pandas sataframe